# NSS
CONFIG_IPQ_MEM_PROFILE_256M=y
# CONFIG_ATH11K_MEM_PROFILE_S12M=y   # 关闭无线profile
CONFIG_ATH11K_MEM_PROFILE_HIGH=y  # 关闭
CONFIG_NSS_FIRMWARE_VERSION_11_4=y
CONFIG_PACKAGE_sqm-scripts-nss=y
CONFIG_PACKAGE_kmod-qca-nss=y
CONFIG_KERNEL_SKB_RECYCLER=y
CONFIG_KERNEL_SKB_RECYCLER_MULTI_CPU=y
CONFIG_PACKAGE_kmod-ath11k-pci=m
CONFIG_NSS_DRV_WIFI_ENABLE=y
CONFIG_NSS_DRV_MESH_ENABLE=y
CONFIG_ATH11K_NSS_SUPPORT=y

# NSS kernel drive（保留有线+IPv6关键驱动，注释可能与无线相关的）
CONFIG_PACKAGE_kmod-qca-nss-drv=y
CONFIG_PACKAGE_kmod-qca-nss-drv-ipv6=y          # IPv6加速必须保留
CONFIG_PACKAGE_kmod-qca-nss-drv-netfilter=y    # netfilter必须保留
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pptp=y
# CONFIG_PACKAGE_kmod-qca-nss-drv-l2tpv2=y     # 可选注释
# CONFIG_PACKAGE_kmod-qca-nss-drv-lag-mgr=y     # 可选注释
CONFIG_PACKAGE_kmod-qca-nss-drv-ipsec=y
