# TARGET config
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_redmi_ax6-stock=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq807x_DEVICE_redmi_ax6-stock=""
# 关键：原行包含ipq-wifi-redmi_ax6，已删除，改为空

CONFIG_TARGET_ROOTFS_INITRAMFS=n

# Kernel modules
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y

# Package
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_grc=y
CONFIG_PACKAGE_mii-tool=y
CONFIG_PACKAGE_xz-utils=y



# Enable Luci App（精简）
CONFIG_PACKAGE_luci-app-autoreboot=y
# CONFIG_PACKAGE_luci-app-sqm=y        # 如不限速可注释
# CONFIG_PACKAGE_luci-app-vlmcsd=y     # 删除KMS激活
