# --- Target 设定 ---
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_redmi_ax6=y

# --- 关键：禁用 WiFi 用户空间程序 ---
# 驱动留着(为了能编译成功)，但把指挥官(hostapd)杀了，WiFi 就不会发射信号，也不会吃内存。
CONFIG_PACKAGE_hostapd=n
CONFIG_PACKAGE_hostapd-common=n
CONFIG_PACKAGE_wpad=n
CONFIG_PACKAGE_wpad-basic=n
CONFIG_PACKAGE_wpad-basic-wolfssl=n
CONFIG_PACKAGE_wpad-openssl=n
CONFIG_PACKAGE_iwinfo=n

# --- 核心工具 ---
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_htop=y

# --- Luci App ---
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wol=y

# --- 禁用其他 ---
CONFIG_PACKAGE_luci-app-sqm=n
CONFIG_PACKAGE_luci-app-istorex=n
CONFIG_PACKAGE_luci-app-lucky=n
CONFIG_PACKAGE_luci-app-mosdns=n
