# TARGET config
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_redmi_ax6-stock=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq807x_DEVICE_redmi_ax6-stock="ipq-wifi-redmi_ax6"
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_redmi_ax6=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq807x_DEVICE_redmi_ax6="ipq-wifi-redmi_ax6"
CONFIG_TARGET_ROOTFS_INITRAMFS=n

# Kernel modules (基础内核模块)
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y

# Package (保留 htop 和基础网络工具，删除了 fuse)
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_mii-tool=y

# Enable Luci App (保留自动重启和SQM流控，删除了 vlmcsd/kms)
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-sqm=y

# ---------------------------------------------------------
# [强制禁用] 无线 Wi-Fi 相关 (省内存关键)
# ---------------------------------------------------------
# CONFIG_PACKAGE_hostapd-common is not set
# CONFIG_PACKAGE_wpad-openssl is not set
# CONFIG_PACKAGE_wpad-basic is not set
# CONFIG_PACKAGE_wpad-mini is not set
# CONFIG_PACKAGE_iw is not set
# CONFIG_PACKAGE_kmod-ath11k is not set
# CONFIG_PACKAGE_kmod-ath11k-pci is not set
